:root {
    --yellow: #fcb315;
    --darkgrey: #4d4e53;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: -8px;
    margin-left: -8px;
    width: 100vw;
    height: 50px;
    background-color: #454a4d;
    max-height: 50px;
    font-size: 25px;
    color: var(--yellow);
    vertical-align: middle;
}

header a {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

body{
    background-color: #1a2022;
    color: var(--yellow);
    overflow-x: hidden;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #31383a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #454a4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

/* Link Styling */
a:link {
    text-decoration: none;
    color: var(--yellow);
}
a:visited {
    text-decoration: none;
    color: var(--yellow);
}
a:hover {
    color: orange;
}
a:active {
    text-decoration: none; 
    color: var(--yellow);
}

/* Fonts */
@font-face {
    font-family: bioweapon;
    src: url(./Fonts/bioweapon/BIOWEAPON.ttf);
}

@font-face {
    font-family: heebo-black;
    src: url(./Fonts/heeebo/Heebo-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Thin.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: moon;
    src: url(./Fonts/moon/Moon2.0-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: moon;
    src: url(./Fonts/moon/Moon2.0-Regular.otf);
}

@font-face {
    font-family: moon;
    src: url(./Fonts/moon/Moon2.0-Bold.otf);
    font-weight: bold;
}

.bioweapon {
    font-family: 'bioweapon';
}

.heebo {
    font-family: 'heebo';
}

.moon {
    font-family: 'moon';
}

.comicSans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Nav Hamburger */
.ListNav {
    display: block;
}

.HamburgerNav {
    display: none;

    right: 30px;
    position: absolute;
    top: 0px;
    color: var(--yellow);
}

.HamburgerMenu {
    display: none;

    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    background-color: #202324;
    margin-left: -8px;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    border: var(--yellow) solid 1px;
    z-index: 99;
}

.HamburgerMenu a {
    font-size: 50px;
    border-bottom: #fcb315 solid 1px;
}

@media screen and (max-width: 910px) {
    .HamburgerNav {
        display: block;
    }
    .ListNav {
        display: none;
    }
}

.solar-system {
  width: 780px;
  height: 780px;
  margin: auto;
  overflow: hidden;
}

.orbit {
  border: 1px solid rgb(55, 53, 69);
}

#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}

#sun,
.orbit,
.orbit + div {
  top: 50%;
  left: 50%;
}
.orbit + div > div {
  top: 0;
  left: 50%;
}

.orbit,
.orbit + div div,
#earth {
  border-radius: 50%;
}

/* Individual objects rules. They are pretty much the same for 
all objects and basically only vary in orbit size 
and planet size. And colors :) */

#sun {
  /* Positions the top-left corner of the image to be *
	/* in the middle of the box */
  height: 200px;
  width: 200px;
  background-color: #C25447;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 50%;
}

#venus {
  margin-top: -20px;
  margin-left: -20px;
  height: 40px;
  width: 40px;
  background-color: #9E9E9E;
}
.venus-orbit,
.venus-spin {
  margin-top: -185px;
  margin-left: -185px;
  width: 370px;
  height: 370px;
}

/* Spinning animations */

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

.venus-spin {
  animation: spin-right 20s linear infinite;
}

.card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    padding: 10px;
}

.item {
    position: relative;
    min-width: 600px;
    max-width: 100%;
    border: 5px black solid;
    padding: 5px;
    margin: 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}