:root {
    --red: #860004;
    --gold: #d49e14;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: -8px;
    margin-left: -8px;
    width: 100vw;
    height: 50px;
    background-color: var(--red);
    max-height: 50px;
    font-size: 25px;
    color: var(--gold);
    border-bottom: 1px solid var(--gold);
    vertical-align: middle;
}

header a {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

body{
    background-color: var(--red);
    color: var(--gold);
    overflow-x: hidden;
}

.bruhh {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.A {
    width: 45%;
    border-radius: 10px;
}

@media screen and (max-width: 1023px){
    .bruhh {
        flex-wrap: wrap;
    }
    .A {
        margin-top: 10px;
        width: 100%;
        height: 392px;
    }
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #202324;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #454a4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

/* Link Styling */
a:link {
    text-decoration: none;
    color: var(--yellow);
}
a:visited {
    text-decoration: none;
    color: var(--yellow);
}
a:hover {
    color: orange;
}
a:active {
    text-decoration: none; 
    color: var(--yellow);
}

/* Fonts */
@font-face {
    font-family: heebo-black;
    src: url(../Fonts/heeebo/Heebo-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Thin.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Regular.otf);
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Bold.otf);
    font-weight: bold;
}

.heebo {
    font-family: 'heebo';
}

.moon {
    font-family: 'moon';
}

/* Nav Hamburger */
.ListNav {
    display: block;
}

.HamburgerNav {
    display: none;

    right: 30px;
    position: absolute;
    top: 0px;
    color: var(--yellow);
}

.HamburgerMenu {
    display: none;

    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    background-color: #202324;
    margin-left: -8px;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    border: var(--yellow) solid 1px;
}

.HamburgerMenu a {
    font-size: 50px;
    border-bottom: #fcb315 solid 1px;
}

@media screen and (max-width: 910px) {
    .HamburgerNav {
        display: block;
    }
    .ListNav {
        display: none;
    }
}