:root {
    --red: #860004;
    --gold: #d49e14;
    --fadedgold: #a87d10;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: -8px;
    margin-left: -8px;
    width: 100vw;
    height: 50px;
    background-color: rgb(98, 1, 1);
    max-height: 50px;
    font-size: 25px;
    color: var(--gold);
    border-bottom: 1px solid var(--gold);
    vertical-align: middle;
}

header a {
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}

table {
    margin-top: 10px;
    width: 100%;
    border: 2px solid var(--gold);
}

th,td {
    border: 2px solid var(--gold);
}

body{
    background-color: var(--red);
    color: var(--gold);
    overflow-x: hidden;
}

.merch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #454a4d;
    padding: 10px;
    margin: 5px;
    width: 90%;
}

.card p,h2 {
    line-height: 0px;
    height: 0px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 0px;
}

.card div {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.card button {
    width: fit-content;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.row img {
    padding: 0;
}

.team {
    width: 50%;
}

.bruhh {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.A {
    width: 45%;
    border-radius: 10px;
}

#fname,#lname,#email {
    padding: 5px;
    margin-bottom: 5px;
    width: 25%;
    height: 30px;
    background-color: var(--red);
    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 5px;
}

#submit {
    background-color: var(--red);
    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 5px; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--fadedgold);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--fadedgold);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--fadedgold);
}

@media screen and (max-width: 1023px){
    .bruhh {
        flex-wrap: wrap;
    }
    .A {
        margin-top: 10px;
        width: 100%;
        height: 392px;
    }
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #202324;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #454a4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

/* Link Styling */
a:link {
    text-decoration: none;
    color: var(--yellow);
}
a:visited {
    text-decoration: none;
    color: var(--yellow);
}
a:hover {
    color: orange;
}
a:active {
    text-decoration: none; 
    color: var(--yellow);
}

/* Fonts */
@font-face {
    font-family: heebo-black;
    src: url(../Fonts/heeebo/Heebo-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: heebo;
    src: url(../Fonts/heeebo/Heebo-Thin.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Regular.otf);
}

@font-face {
    font-family: moon;
    src: url(../Fonts/moon/Moon2.0-Bold.otf);
    font-weight: bold;
}

.heebo {
    font-family: 'heebo';
}

.moon {
    font-family: 'moon';
}

/* Nav Hamburger */
.ListNav {
    display: block;
}

.HamburgerNav {
    display: none;

    right: 30px;
    position: absolute;
    top: 0px;
    color: var(--yellow);
}

.HamburgerMenu {
    display: none;
    z-index: 99;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    background-color: var(--red);
    margin-left: -8px;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    border: var(--gold) solid 1px;
}

.HamburgerMenu a {
    font-size: 50px;
    border-bottom: var(--gold) solid 1px;
}

@media screen and (max-width: 1430px){
    .HamburgerNav {
        display: block;
    }
    .ListNav {
        display: none;
    }
}